
<div class="container">
  <h1><i class="fas fa-cocktail"></i></h1>
  <h1>Peter's Cocktail maker</h1>
  <h2>List of cocktails:</h2>
    <ul>
      <% @cocktails.each do |cocktail| %>
      <li>
        <%= link_to cocktail.name, cocktail_path(cocktail)%>
        <%= link_to "Delete Cocktail", cocktail_path(cocktail),
          method: :delete,
          data: { confirm: "are you sure?" } %>
     </li>
  <% end %>
</ul>
  <%= link_to "add a cocktail", new_cocktail_path %>
</div>
