
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4">
        <div>
          <%= link_to cocktail.name, cocktail_path(cocktail)%>
          <%= link_to "тип", cocktail_path(cocktail),
            method: :delete,
            data: { confirm: "are you sure?" } %>
        </div>
        <img src="https://bit.ly/2VyMyUy" width="200" alt="glass">
      </div>
    <% end %>
  </div>

  <%= link_to "add a cocktail", new_cocktail_path, class: "btn btn-warning"%>
</div>
